* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.text-content {
  background-color: #fff;
}

.block {
  position: absolute;
  height: 250px;
  width: 900px;
}

.text-content div {
  display: block;
  padding: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}
