* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background-image: url("../assets/images/blob-scene-haikei.png");
  background-size: cover; /* Đảm bảo hình nền phủ toàn bộ phần tử */
  background-position: center; /* Căn giữa hình nền */
  height: 1000px;
}

.text-content {
  background-color: #fff;
  margin: 24px;
}

.sub-block {
  height: 400px;
  background-color: #fff;
  padding: 0.1px;
  border-radius: 1em;
  overflow: hidden;
  overflow-y: auto;
}

.sub-block-1 {
  background-color: #fff;
  padding: 0.1px;
  border-radius: 1em;
}
.container-1 {
  padding: 50px;
}

.container-2 {
  height: 250px;
  width: 900px;
}

.text-content .box-text-content {
  padding: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  border-radius: 1em;
  background-color: #ccc;
  margin-top: 4px;
}

.box-text-content img {
  width: 30px;
}

.box-text-content .name-text-content {
  margin: auto 0 auto 10px;
  font-size: 18px;
}

.avatar-name-text-content {
  display: flex;
}

.box-text-content .time-text-content {
  margin-top: 2px;
  color:#737171;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.alert-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  border-radius: 20px;
}

.container-2 .summit-question-content {
  margin-top: 35px;
  font-size: 25px;
  color: white;
}

.heading-title {
  color: #fff;
  font-size: 25px;
}

@media (max-width: 740px) {
  body {
    align-items: normal;
  }

  .container-1,
  .container-2 {
    padding: 24px;
  }

  .container-2 {
    width: 350px;
  }
}
