* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  height: 1000px;
  margin: 0 75px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgb(30, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 0, 36, 1) 0%,
    rgba(34, 44, 62, 1) 60%,
    rgba(108, 82, 100, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.text-while {
  color: #fff;
}

.open-alert {
  display: flex;
}

.clear {
  clear: both;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-container-1 {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  margin: 40px 45px 30px 45px;
  top: 40px;
}

.topic-1 {
  position: relative;
  display: flex;
  height: 74px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(59 130 246 / 0.5);
  color: #ffa28c;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.img-topic-1 {
  position: absolute;
  width: 60px;
  right: 80px;
  border-radius: 50%;
}

.img-topic-sud-1 {
  display: none;
  width: 10px;
}

.modal-container-1 .sud-tittle {
  padding: 25px;
  font-size: 26px;
}

.modal-container-2 {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  margin: 20px 45px;
  bottom: 45px;
}

.topic-2 {
  display: flex;
  height: 74px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(59 130 246 / 0.5);
  color: #ffa28c;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-container-2 .modal-close:hover {
  color: #fff;
  background-color: red;
}

form#contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#contactForm .contact-info {
  font-size: 25px;
  text-align: center;
}

#contactForm .input-qst {
  font-size: 35px;
}

.contact-info .input-name {
  display: inline-block;
}

input#name {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #2be6ef;
  background-color: #ccc;
}

input#name:focus {
  border-color: #007bff; /* Màu viền khi được focus */
  background-color: #e9ecef; /* Màu nền khi được focus */
  color: #000; /* Màu chữ khi được focus */
  outline: none; /* Loại bỏ viền mặc định của trình duyệt khi được focus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.4); /* Hiệu ứng đổ bóng khi được focus */
}

.select-class {
  border: 2px solid #2be6ef;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ccc;
}

.select-class:focus {
  border-color: #007bff; /* Màu viền khi được focus */
  background-color: #e9ecef; /* Màu nền khi được focus */
  color: #000; /* Màu chữ khi được focus */
  outline: none; /* Loại bỏ viền mặc định của trình duyệt khi được focus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.4); /* Hiệu ứng đổ bóng khi được focus */
}

textarea#textarea-input {
  height: 120px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #2be6ef;
  background-color: #ccc;
}

textarea#textarea-input:focus {
  border-color: #007bff; /* Màu viền khi được focus */
  background-color: #e9ecef; /* Màu nền khi được focus */
  color: #000; /* Màu chữ khi được focus */
  outline: none; /* Loại bỏ viền mặc định của trình duyệt khi được focus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.4); /* Hiệu ứng đổ bóng khi được focus */
}

.button-summit-qst {
  text-align: center;
}

.submit-button {
  color: #fff;
  background-color: #166cb4;
  border: 0;
  padding: 11px 22px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.submit-button:hover {
  color: #000;
  background-color: #4e82ae;
  border: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.check-question-homepage {
  font-size: 20px;
    color: #fff;
}

.check-question-homepage a {
  color: #166cb4;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.alert-container {
  background-color: #fff;
  width: 900px;
  height: 250px;
  position: relative;
  border-radius: 20px;
}

.header-alert {
  background-color: rgb(59 130 246 / 0.5);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #fff;
  letter-spacing: 3px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.header-alert h1 {
  color: #ffa28c;
}

.content-alert {
  background-color: #fff;
  font-weight: 600;
  height: 100px;
  font-size: 17px;
  color: #000;
  letter-spacing: 3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content-alert h1 {
  margin: 17px 0;
}

.alert-close-2,
.alert-container .alert-close {
  background-color: rgb(59 130 246 / 0);
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 20px;
}

.alert-close-2:hover,
.alert-container .alert-close:hover {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(244, 67, 54);
  color: #000;
}

.check-question {
  margin-top: 10px;
}

.check-question a {
  color: #166cb4;
}

@media (max-width: 740px) {
  body {
    height: 1000px;
    display: block;
    margin: 0;
    background: rgb(30, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(30, 0, 36, 1) 0%,
      rgba(34, 44, 62, 1) 50%,
      rgba(107, 84, 100, 1) 100%
    );
  }

  .modal-container-1 {
    width: auto;
    top: 20px;
    min-height: 180px;
    margin: 50px 45px 30px 45px;
  }

  .modal-container-2 {
    width: auto;
    margin: 20px 45px;
  }

  .topic-1,
  .modal-container-2 .topic-2 {
    height: 15px;
    padding: 15px;
    font-size: 9px;
  }

  .modal-container-1 .sud-tittle {
    padding: 25px;
    font-size: 16px;
  }

  .topic-1 .img-topic-1 {
    display: none;
  }

  .sud-topic-1 {
    position: relative;
  }

  .img-topic-sud-1 {
    position: absolute;
    display: block;
    width: 44px;
    border-radius: 50%;
    right: 10px;
    bottom: -15px;
  }

  input#name {
    border-radius: 5em;
  }

  input#name:focus {
    border-color: #007bff; /* Màu viền khi được focus */
    background-color: #e9ecef; /* Màu nền khi được focus */
    color: #000; /* Màu chữ khi được focus */
    outline: none; /* Loại bỏ viền mặc định của trình duyệt khi được focus */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.4); /* Hiệu ứng đổ bóng khi được focus */
  }

  .select-class:focus {
    border-color: #007bff; /* Màu viền khi được focus */
    background-color: #e9ecef; /* Màu nền khi được focus */
    color: #000; /* Màu chữ khi được focus */
    outline: none; /* Loại bỏ viền mặc định của trình duyệt khi được focus */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.4); /* Hiệu ứng đổ bóng khi được focus */
  }

  .select-class {
    font-size: 16px;
    border: 2px solid #2be6ef;
    border-radius: 5em;
    height: 30px;
    width: 70px;
  }

  input#name {
    padding: 6px;
    width: 90px;
  }

  #contactForm .input-qst {
    font-size: 20px;
  }

  #contactForm .contact-info {
    font-size: 15px;
  }

  textarea#textarea-input {
    height: 50px;
    width: 185px;
    border-radius: 1em;
    margin-top: 5px;
  }

  .header-alert {
    font-size: 13px;
  }

  .alert-container {
    margin: 45px;
    min-height: 200px;
    height: 0;
  }

  .content-alert {
    font-size: 13px;
    letter-spacing: 2px;
  }
}
